<h1>Статьи</h1>

Количество статей <%= Article.public_count %> и это количество растёт!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Создать статью", new_article_path %>
